@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-size: 62.5%;
    @apply scroll-smooth;
  }
  body {
    @apply antialiased text-black font-rubik text-normal;
  }
}

@layer utilities {
  .hero-bg {
    background-image: linear-gradient(
        to right bottom,
        rgba(1, 1, 1, 0.7),
        rgba(1, 1, 1, 0.7)
      ),
      url("../public/assets/hero/bg.png");
  }
}

.swiper {
  padding-bottom: 8rem !important;
}
.swiper-slide {
  width: 250px !important;
}
.swiper-pagination {
  bottom: 2.5rem !important;
}
.swiper-pagination-bullet {
  width: 1.2rem !important;
  height: 1.2rem !important;
  background-color: #feba45 !important;
}
.swiper-pagination-bullet-active {
  background-color: #ff9900 !important;
}
